.Contact-name {
    font-family: Roboto;
    font-size: 16px;
    color: #42505C;
    letter-Spacing: 0;
}

.Contact-info {
    font-family: Roboto;
    font-size: 12px;
    color: #79828B;
    letter-spacing: 0;
}