/* NAVBAR */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.navbar.navbar-expand {
    min-height: 84px;
    margin-right: 30px;
    background-color: #0F61D8;
    color: #FBFBFB;
}
  
.greeting {
  letter-spacing: 1px;
  margin: auto 30px auto 30px;
}

.nav-app-link {
    color: #8ECFF5;
}
.nav-app-link:hover {
  cursor: pointer;
  color: #82ccdd;
  transition: .2s;
}

.logo {
    font-size: 2.1em;
    color: #FBFBFB;
    font-weight: 900;
    letter-spacing: .04em;
}