.Events-title {
    font-family: Roboto !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    color: #333333 !important;
    letter-spacing: 0;
}

.Events-trip-day-card {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #666666;
    border-radius: 3px;
}

.Events-trip-days-card {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.Events-event-card {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.Events-document-title {
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
}

.Events-document-description {
    font-family: Helvetica;
    font-size: 12px;
    color: #768B9F;
    letter-spacing: 0;
}

.Events-document-icon {
    min-width: 95px; 
    background: #83C9F5;
    border-radius: 8px;
}
.Events-document-image {
    filter: drop-shadow(2px 2px 5px #333);
}

.Events-event-date {
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
}

.Events-event-address {
    font-family: Roboto;
    font-size: 16px;
    color: #748AA1;
    letter-spacing: 0;
}

.Event-link {
    font-family: Helvetica;
    font-size: 16px;
    color: #1062D8;
    letter-spacing: 0;
}