.jpg {
  background-image: url(./jpg.svg);
  background-repeat: no-repeat
}

.gif {
  background-image: url(./gif.svg);
  background-repeat: no-repeat
}

.wma {
  background-image: url(./wma.svg);
  background-repeat: no-repeat
}

.json {
  background-image: url(./json.svg);
  background-repeat: no-repeat
}

.archive {
  background-image: url(./archive.svg);
  background-repeat: no-repeat
}

.dwg {
  background-image: url(./dwg.svg);
  background-repeat: no-repeat
}

.mp4 {
  background-image: url(./mp4.svg);
  background-repeat: no-repeat
}

.rtf {
  background-image: url(./rtf.svg);
  background-repeat: no-repeat
}

.dbf {
  background-image: url(./dbf.svg);
  background-repeat: no-repeat
}

.js {
  background-image: url(./js.svg);
  background-repeat: no-repeat
}

.psd {
  background-image: url(./psd.svg);
  background-repeat: no-repeat
}

.tiff {
  background-image: url(./tiff.svg);
  background-repeat: no-repeat
}

.mp3 {
  background-image: url(./mp3.svg);
  background-repeat: no-repeat
}

.mp2 {
  background-image: url(./mp2.svg);
  background-repeat: no-repeat
}

.css {
  background-image: url(./css.svg);
  background-repeat: no-repeat
}

.arj {
  background-image: url(./arj.svg);
  background-repeat: no-repeat
}

.xml {
  background-image: url(./xml.svg);
  background-repeat: no-repeat
}

.exe {
  background-image: url(./exe.svg);
  background-repeat: no-repeat
}

.getclasses {
  background-image: url(./getclasses.py);
  background-repeat: no-repeat
}

.pdf {
  background-image: url(./pdf.svg);
  background-repeat: no-repeat
}

.audio {
  background-image: url(./audio.svg);
  background-repeat: no-repeat
}

.ppt {
  background-image: url(./ppt.svg);
  background-repeat: no-repeat
}

.unknown {
  background-image: url(./unknown.svg);
  background-repeat: no-repeat
}

.mdf {
  background-image: url(./mdf.svg);
  background-repeat: no-repeat
}

.txt {
  background-image: url(./txt.svg);
  background-repeat: no-repeat
}

.xls {
  background-image: url(./xls.svg);
  background-repeat: no-repeat
}

.video {
  background-image: url(./video.svg);
  background-repeat: no-repeat
}

.iso {
  background-image: url(./iso.svg);
  background-repeat: no-repeat
}

.text {
  background-image: url(./text.svg);
  background-repeat: no-repeat
}

.ai {
  background-image: url(./ai.svg);
  background-repeat: no-repeat
}

.aac {
  background-image: url(./aac.svg);
  background-repeat: no-repeat
}

.zip {
  background-image: url(./zip.svg);
  background-repeat: no-repeat
}

.nrg {
  background-image: url(./nrg.svg);
  background-repeat: no-repeat
}

.flac {
  background-image: url(./flac.svg);
  background-repeat: no-repeat
}

.mxf {
  background-image: url(./mxf.svg);
  background-repeat: no-repeat
}

.svg {
  background-image: url(./svg.svg);
  background-repeat: no-repeat
}

.wav {
  background-image: url(./wav.svg);
  background-repeat: no-repeat
}

.avi {
  background-image: url(./avi.svg);
  background-repeat: no-repeat
}

.7z {
  background-image: url(./7z.svg);
  background-repeat: no-repeat
}

.pretty-file-icons {
  background-image: url(./pretty-file-icons.css);
  background-repeat: no-repeat
}

.png {
  background-image: url(./png.svg);
  background-repeat: no-repeat
}

.csv {
  background-image: url(./csv.svg);
  background-repeat: no-repeat
}

.doc {
  background-image: url(./doc.svg);
  background-repeat: no-repeat
}

.rar {
  background-image: url(./rar.svg);
  background-repeat: no-repeat
}

.fla {
  background-image: url(./fla.svg);
  background-repeat: no-repeat
}

.html {
  background-image: url(./html.svg);
  background-repeat: no-repeat
}


