.Cover-image {
    filter: drop-shadow(0 5px 5px #333);
}

.Cover-trip-name {
    font-family: Roboto !important;
    font-size: 28px !important;
    font-weight: 400 !important;
    color: #FFFFFF !important;
    letter-spacing: 0 !important;
}

.Cover-bottom-row {
    font-family: Roboto !important;
    font-size: 22px !important;
    font-weight: 400;
    color: #FFFFFF !important;
    letter-spacing: 0 !important;
}
