.Cover-image {
        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.Cover-trip-name {
    font-family: Roboto !important;
    font-size: 28px !important;
    font-weight: 400 !important;
    color: #FFFFFF !important;
    letter-spacing: 0 !important;
}

.Cover-bottom-row {
    font-family: Roboto !important;
    font-size: 22px !important;
    font-weight: 400;
    color: #FFFFFF !important;
    letter-spacing: 0 !important;
}
