.alert {
    margin: 15px 50px 30px 0px;
    background-color: #FBFBFB; 
    border: none;
    color: #0F61D8; 
    height: 55px;
    align-items: center;
    box-shadow: rgb(136, 136, 136) 0px 2px 4px;
}