footer {
    text-align: center;
    padding: 10px 0px 10px 0px;
    background-color: #8ECFF5;
    z-index: 3;
}

span {
    font-size: .8em;
    color: #717171;
}

i {
    padding: 0px 5px 0px 5px;
}