.Travelers-filter {
    color: #475561 !important;
    font-family: Roboto !important;
    font-weight: 700 !important;
    font-size: 14px !important;
}

.Travelers-name {
    font-family: Roboto !important;
    font-size: 14px !important;
    color: #333333 !important;
    font-weight: 700;
}