.Document {
    background: #FFFFFF;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.Document-title {
    font-family: Roboto;
    font-weight: 600;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
}

.Document-description {
    font-family: Helvetica;
    font-size: 16px;
    color: #768B9F;
    letter-spacing: 0;
}

.Document-card {
    background: #FFFFFF;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.1);
    border-radius: 3px;
}

.Document-icon {
    height: 110px;
    width: 130px;
    background: #83C9F5;
    border-radius: 3px;
}

.Document-image {
    filter: drop-shadow(2px 2px 5px #333);
}

.Document-open-text {
    font-family: Roboto;
    font-size: 16px;
    color: #768B9F;
    letter-spacing: 0;
    border-bottom: 1px solid #768B9F;
}