.Modal-Form {
    border: none !important;
    animation-duration: .3s
}

.Modal--overlay {
    animation-duration: .32s
}

.Modal-Form-header {
    background-color: #0F58D1;
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0;
}

label {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}