.TripInfo-heading {
    font-family: Roboto !important;
    font-weight: 700 !important;
    font-size: 22px !important;
    color: #333333 !important;
}

.TripInfo-name {
    font-family: Roboto !important;
    font-weight: 500 !important;
    font-size: 30px !important;
    color: #0A58CE !important;
    letter-spacing: 0;
}