.TravelerInfo-name {
    font-family: Roboto;
    font-weight: 700;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
}

.TravelerInfo-key {
    font-family: Roboto;
    font-weight: 600;
    font-size: 14px;
    color: #666666;
}

.TravelerInfo-value {
    font-family: Roboto;
    font-weight: 600;
    font-size: 12px;
    color: #0A58CE;
}

.TravelerInfo-notes {
    font-family: Roboto;
    font-size: 14px;
    color: #475561;
}

.TravelerInfo-text-date {
    font-family: roboto;
    font-weight: 600;
    font-size: 14px;
    font-color: #333333;
}