[data-letters]:before {
    content:attr(data-letters);
    display:inline-block;
    font-family: Roboto;
    font-weight: 400;
    color: #F6FAFF;
    width:64px;
    height:64px;
    padding-top: 18px;
    text-align:center;
    font-size: 20px;
    border-radius:50%;
    background:#83C9F5;
}

