.img-box {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.img-box:hover {
      cursor: pointer;
}

.img-box .image{
    border-radius: 50%;
    width: 100%;
}
.img-content {
    padding: 8px;
    background: rgb(71, 85, 97);
    position: absolute;
    bottom: -120px;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}
.img-box:hover .img-content{
  bottom: 0px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
