.SideNavItem-text {
    font-weight: 500;
    font-family: roboto;
    font-size: 14px;
    color: #666666 !important;
}

.SideNavItem-bubble {
    font-weight: 500;
    font-family: roboto;
    font-size: 12px;
    padding: .3rem .7rem;
}