.side-nav-link-active {
    color: #0F61D8 !important;
}
.Navlink:hover {
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border: none !important;
}

.Navlink:active {
    border-radius: 8px;
    border: none !important;
    box-shadow: none;
    margin-top: 3px;
}