@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

/* GLOBAL */
body {
  font-family: 'Roboto';
}

.hero {
    background-color: #ECEDED;
    height: 100vh;
}

.btn-primary {
    border: none;
}
