.bg-image {
    background: linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)),
        url('https://images.unsplash.com/photo-1444044205806-38f3ed106c10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.Auth-side-message {
    font-family: Roboto;
    font-size: 16px;
    color: #F6FAFF;
    letter-spacing: 0;
}

.Auth-side-sub {
    font-family: Roboto;
    font-weight: 500px;
    font-size: 40px;
    color: #83C9F5;
    letter-spacing: 0;
}

.footer-text {
    font-family: OpenSans-Regular;
font-size: 12px;
color: #A1A1A1;
}